body {
  background-color: grey;
  font-family: Arial, Helvetica, sans-serif;
}

h2, h3 {
  text-align: center;
}

.projects {
  background-color: silver;
  width: auto;
  padding: 16px;
  box-sizing: border-box;
}